{% extends 'squiz/base.html' %}

{% block title_block %}
    create question
{% endblock %}
?
{% block body_block %}
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          <div class="height20">
            <p class="titlefont">Create Question</p>
          </div>
          <form class="form-signin form-horizontal" role="form" id="question_form" method="post" {% if round %}action="{% url 'create_question' round.id %}"{% else %}action="{% url 'create_question' %}"{% endif %} enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in question_form.hidden_fields %}
              {{ hidden }}
            {% endfor %}

            {% for field in question_form.visible_fields %}
            <div class="form-group">
              {{ field.errors }}
              <label class="control-label col-sm-2" for="{{ field.label }}">{{ field.label }}:</label>
              <div class="col-sm-10">
                {{ field }}
              </div>
            </div>
            {% endfor %}
            
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary home-buttons btn-lg pull-right" type="submit">Create Question</button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
