{% extends 'squiz/base.html' %}

{% block title_block %}
    create round
{% endblock %}

{% block body_block %}

<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <!-- Left Pane -->
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <div class="height20">
            <p class="titlefont">Create Round</p>
          </div>
          <div class="height80">
            <form id="upload_form" method="post" {% if quiz %}action="{% url 'create_round' quiz.id %}"{% else %}action="{% url 'create_round' %}"{% endif %}>

		{% csrf_token %}

		{% for hidden in round_form.hidden_fields %}
		    {{ hidden }}
		{% endfor %}

		{% for field in round_form.visible_fields %}
		    {{ field.errors }}
		    {{ field.label }}
		    {{ field }}
		    <br>
		{% endfor %}

		<br/>
		<button class="btn btn-primary" type="submit" name="submit">Create Round</button>
	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
