{% extends 'squiz/base.html' %}
{% block title_block %}home{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 parent">
      <div class="block">
        <h2>Quizzes<h2>
        <!-- insert table here -->
        <a class="btn btn-default" href="{% url 'create_quiz' %}">New Quiz</a>
        <a class="btn btn-info" href="{% url 'create_quiz' %}">New Quiz</a>
        <a class="btn btn-warning" href="{% url 'create_quiz' %}">New Quiz</a>
        <a class="btn btn-primary" href="{% url 'create_quiz' %}">New Quiz</a>
        <a class="btn btn-danger" href="{% url 'create_quiz' %}">New Quiz</a>
        <a class="btn btn-success" href="{% url 'create_quiz' %}">New Quiz</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<!-- Put your page content here! -->
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <!-- Left Pane -->
      <div class="col-md-5 col-md-offset-1">
        <div class="block">
          <div class="height20">
            <p class="titlefont">Join Quiz</p>
          </div>
          <div class="height80">
            <a href="{% url 'join' %}">
            <button id="join_button" type="button"  class="btn btn-warning btn-lg home-buttons icon">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> <br> Join!
            </button>
            </a>
            <a href="{% url 'nearby' %}">
            <button id="nearby_button" type="button" class="btn btn-danger btn-lg home-buttons icon">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <br> Near Me
            </button>
            </a>
          </div>
        </div>
      </div>
      
      <!-- Right Pane -->
      <div class="col-md-5">
        <div class="block">
          <h1>Host Login</h1>
            <!--form id="upload_form" method="post"  action="{% url 'index' %}">
                {% csrf_token %}

                {% for field in login_form.visible_fields %}

                    {{ field.errors }}
                    {{ field.label }}
                    {{ field }}

                    <br>
                {% endfor %}

                <button class="btn btn-primary" type="submit" name="submit"  > Login </button>
            </form-->
            <form class="form-signin span6" id="login_form" method="post" action="{% url 'index' %}">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}
            {% if bad_details %}
                <p class="errorlist">Your username and/or password were incorrect!  Please try again.</p>
            {% elif disabled_account %}
                <p class="errorlist">Your account is currently disabled; we can't log you in!</p>
            {% endif %}

            Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
            <br />
            Password: <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50"/>
            <br/>
            <button class="btn btn-primary" type="submit" tabindex='1'>Sign in</button>
        </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
