{% extends 'squiz/base.html' %}
{% block title_block %}home{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <div class="col-md-12 parent">
        <div class="block">
          <h2>Quizzes</h2>
            <!-- insert table here -->
            {% if quizzes %}
            <table id="quiz_table" class="table table-responsive table-striped table-bordered nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Creator</th>
                        <th>Number of Rounds</th>
                        <th>Number of Plays</th>
                        <th>Edit Quiz</th>
                        <th>Play Quiz</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                    <tr>
                        <td>{{ quiz.name }}</td>
                        <td>{{ quiz.creator }}</td>
                        <td>todo</td>
                        <td>todo</td>
                        <td><a href="{% url 'view_quiz' quiz.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></td>
                        <td><a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3>No quizzes on website</h3>
            {% endif %}

            <br>
            <a class="btn btn-primary btn-lg pull-right" href="{% url 'create_quiz' %}">New Quiz</a>
            <p>&nbsp;</p>

      </div>
    </div>
  </div>
  </div>
</div>
{% else %}
<!-- Put your page content here! -->
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <!-- Left Pane -->
      <div class="col-md-5 col-md-offset-1">
        <div class="block">
          <div class="height20">
            <p class="titlefont">Join Quiz</p>
          </div>
          <div class="height80">
            <a href="{% url 'join' %}">
            <button id="join_button" type="button"  class="btn btn-warning btn-lg home-buttons icon">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> <br> <p class="bigbuttontext">Join!</p>
            </button>
            </a>
            <a href="{#% url 'nearby' %#}">
            <button id="nearby_button" type="button" class="btn btn-danger btn-lg home-buttons icon">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <br> <p class="bigbuttontext">Near Me</p>
            </button>
            </a>
          </div>
        </div>
      </div>
      
      <!-- Right Pane -->
      <div class="col-md-5">
        <div class="block">
          <div class="height20">
            <p class="titlefont">Host Login</p>
          </div>
          <div class="height10"></div>
          <form class="form-signin form-horizontal" role="form" id="login_form" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {% if bad_details %}
            <p class="errorlist">Your username and/or password were incorrect!  Please try again.</p>
            {% elif disabled_account %}
            <p class="errorlist">Your account is currently disabled; we can't log you in!</p>
            {% endif %}
            
            <div class="form-group">
              <label class="control-label col-sm-2" for="username">Username:</label>
              <div class="col-sm-10">
                <input id="username" type="text" class="form-control" placeholder="Username" name="username" value="">
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-sm-2" for="password">Password:</label>
              <div class="col-sm-10">
                <input id="password" type="password" class="form-control" placeholder="Password" name="password" value="">
              </div>
            </div>
            
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary home-buttons btn-lg pull-right" type="submit">Sign in</button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js_block %}
<script>
    $(document).ready(function() {
        $('#quiz_table').DataTable({
            responsive: true
        });
    } );
</script>
{% endblock%}
