{% extends 'squiz/base.html' %}

{% block title_block %}home{% endblock %}

{% block body_block %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 parent">
			<div class="block">
				<h2>Join Quiz</h2>
				<span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size: 30em;color:rgba(100,55,100,0.8);"></span>

			</div>
		</div>

		<div class="col-md-5 parent">
			<div class="block">
				<h2>Host Login</h2>
			</div>
		</div>
	</div>
</div>

{% endblock %}
