{% extends 'squiz/base.html' %}

{% block title_block %}
    nearby
{% endblock %}

{% block body_block %}
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <!-- Left Pane -->
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <div class="height20">
            <p class="titlefont">Quiz Nearby</p>
          </div>
          <div class="height80">
            
		    {% if venues %}
		    {% for venue in venues %}
		    <h3> {{ venue.name }} </h3>
        <h4>{{venue.time}}</h4>
		    {% endfor %}

		    {% else %}
		    <h3> There are no venues to display </h3>
		    {% endif %}
			
			
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}