{% extends 'squiz/base.html' %}
{% block title_block %}play{% endblock %}

{% block body_block %}
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <!-- Left Pane -->
      <div class="col-md-5 col-md-offset-1">
        <div class="block">
					<div class="height80">
						<p class="questionfont" id="question"></p>
					</div>
					<div class="height20">
					  {% if user.host == instance.host %}
  					  <button id="advance" class="btn-primary btn btn-lg">Next Question</button>
  					{% else %}
						<div class="row">
							<div class="col-xs-9">
								<textarea placeholder="answer" class="form-control" cols="10" id="comment"></textarea>
							</div>
							<div class="col-xs-3">
								<button id="submitquestion" type="button" class="btn btn-primary col-xs-12">Submit</button>
							</div>
						</div>
						{% endif %}
					</div>
        </div>
      </div>
      
      <!-- Right Pane -->
      <div class="col-md-5">
        <div class="block">
          <div class="height20">
            <p class="titlefont">ScoreBoard</p>
          </div>
          <div class="height80">
  					<div id="scoreboard"></div>
  					<table class="table table-responsive table-striped table-bordered nowrap">
  					  <thead>
  					  <tr>
  					    <th>Names</th>
  					    <th>Score</th>
  					  </tr>
  					  </thead>
  					  <tbody id="tablebody">
  					  </tbody>
  					</table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script>
// call checkup function every few seconds
var myVar = setInterval(updateQuestion, 3000);

var quizID = {{ instance.id }};
var question = "0q-1";

function updateQuestion() {
    var d = new Date();
    $("#demo").html(d.toLocaleTimeString());
    
    $.get('/get_question/', {quizID: quizID, question: question}, function(data){
				
				if (data){
				    data = JSON.parse(data);
				    // get current question if updated
				    if ("question" in data){
				      $("#question").html(data["question"]);
				      console.log("question")
				    }
				    // update question pointer if updated
				    if ("current_q" in data){
  				    question = String(data["current_q"]);
  				  }
  				  // update scoreboard, if updated
            if ("scoreboard" in data){
              scoreboard = JSON.parse(data["scoreboard"])
              var arrayLength = scoreboard.length;
              var table = ""
              for (var i = 0; i < arrayLength; i++) {
                  table += "<tr><td>"+scoreboard[i]["fields"]["name"]+"</td>"
                  table += "<td>"+scoreboard[i]["fields"]["score"]+"</td></tr>"
              }
              $('#tablebody').html(table)
            }
        }
          
    });
}

$('#advance').click(function(){
    jQuery.get( '{% url 'adv_question' instance.id %}' );
    updateQuestion();
});

$('#submitquestion').click(function(){
    var answer = "ans" 
    var id = "1"
    jQuery.get( '/update_answer/?id='+id+'&answer='+answer);
});
</script>

{% endblock%}
