{% extends 'squiz/base.html' %}

{% block title_block %}register{% endblock %}

{% block body_block %}
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>

	  <div class="row">
		  <div class="col-md-6 col-md-offset-3 parent">
		    <div class="block">
          <div class="height20">
            <p class="titlefont">Register</p>
          </div>
          <form class="form-signin form-horizontal" role="form" id="upload_form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% for hidden in user_form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for hidden in host_form.hidden_fields %}
              {{ hidden }}
            {% endfor %}

            {% for field in user_form.visible_fields %}
            <div class="form-group">
              {{ field.errors }}
              <label class="control-label col-sm-2" for="{{ field.label }}">{{ field.label }}:</label>
              <div class="col-sm-10">
                {{ field }}
              </div>
            </div>
            {% endfor %}
            
            {% for field in host_form.visible_fields %}
            <div class="form-group">
              {{ field.errors }}
              <label class="control-label col-sm-2" for="{{ field.label }}">{{ field.label }}:</label>
              <div class="col-sm-10">
                {{ field }}
              </div>
            </div>
            {% endfor %}

            
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary home-buttons btn-lg pull-right" type="submit">Create Account</button>
              </div>
            </div>
            
          </form>
		    </div>
		  </div>
    </div>
  </div>
</div>

{% endblock %}

