{% extends 'squiz/base.html' %}

{% block title_block %}
    view quiz
{% endblock %}

{% block body_block %}
<div>
    
    {% if quiz %}
      <h1>{{quiz.name}}</h1>
      
      {% for round in rounds_in_quiz %}
      <div>
          <h3><a href="{% url 'view_round' round.this_round.id %}">{{ round.this_round.name }}</a></h3>
          <!-- categories go here? -->
          <!-- removal button if owner -->
      </div>
      {% endfor %}
      
      {% if request.user.host == quiz.creator %}
      <a href="{% url 'create_round' quiz.id %}">Add Round</a>
      {% endif %}
      
    {% else %}
      <h2>no quiz at this url</h2>
    {% endif %}    
    
</div>
{% endblock %}
