{% extends 'squiz/base.html' %}

{% block title_block %}
    view question
{% endblock %}

{% block body_block %}
<div id="full">
  <div class="container-fluid">
    <div class="height10"></div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          {% if question %}          
          <p class="titlefont">{{ question.question }}</p>          
          
          <h5>Answer: {{ question.answer }}</h5>
          
          <!-- categories go here? -->
          <!-- add tags to questions here ? -->
          
          {% else %}
          <div class="height20">
            <p class="titlefont">No Question at this URL</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
